header nav ul {
	display: flex;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

body {
	background-color: lemonchiffon;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}